<html>
    <head>
        <title> Guardar ejercicio</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body >
        {{>common/header}}
        <div class="container">
            <h1>Ejercicio guardado</h1>
            <p>El ejercicio se ha guardado correctamente.</p>
            <form action="/machinery/add" method="post">
                <input type="submit" value="Asignar maquinaria a ejercicio">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        {{>common/footer}}
    </body>
</html>