body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    color: #cc00ff;
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
    text-shadow: 20px 20px 80px rgb(224, 47, 216);
}