<!DOCTYPE html>
<html>
<head>
    <title>Maquinaria</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    {{>common/header}}
    <h1>Maquinaria</h1>

    <div id="machinery-list" class="inRows">
        <!-- Aquí se cargará la maquinaria por AJAX -->
    </div>

    <!-- Controles de paginación -->
    <div class="pagination">
        <button onclick="cargarMaquinaria(paginaActual - 1)" id="prev-btn">Anterior</button>
        <span id="pagina-actual"></span>
        <button onclick="cargarMaquinaria(paginaActual + 1)" id="next-btn">Siguiente</button>
    </div>

    {{#isAdmin}}
        <br>
        <form action="/machinery/add" method="get">
            <input type="submit" value="Añadir maquinaria">
        </form>
    {{/isAdmin}}

    {{>common/footer}}

    <script>
        function loadMachineries(page) {
            fetch(`/api/machineries?page=${page}&size=5`) 
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let html = "";
                    data.content.forEach(machinery => {
                        html += `<p>${machine.name}</p>`;
                    });
                    document.getElementById("user-list").innerHTML = html;
                });
        }
        loadUsers(0);
    </script>
</body>
</html>
