<!DOCTYPE html>
<html>
    <head>
        <title>Maquinaria</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
        <div class="container">
            <h1>Maquinaria</h1>
            <div class="alignItem inRows">
                {{#machineries}}
                <ul>
                    <li>
                        <div class="alignItems">
                            <form action="/machinery/{{id}}" method="get">
                                <button type="submit" class="button">{{name}}</button>
                            </form>
                            {{#isAdmin}}
                            <form action="/machinery/delete/{{id}}" method="post">
                                <input type="submit" value="Borrar maquinaria">
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                            </form>
                            {{/isAdmin}}
                        </div>
                    </li>
                </ul>
                {{/machineries}}
            </div>
            
            
            {{^machineries}}
            <p>No hay maquinaria disponible actualmente.</p>
            {{/machineries}}
            
            {{#isAdmin}}
            <br>
            <form action="/machinery/add" method="get">
                <input type="submit" value="Añadir maquinaria">
            </form>
        </div>
        {{/isAdmin}}
        {{>common/footer}}
    </body>
</html>