<!DOCTYPE html>
<html>
<head>
    <title>Maquinaria</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    {{>common/header}}
    <div class="container">

        <h1>Maquinaria</h1>
        <div class="alignItems">

            <div id="machinery-list" class="inRows"></div>
        
            <div id="pagination-buttons" >
                <button onclick="loadMachinery(0)">Página 1</button>
                <button onclick="loadMachinery(1)">Página 2</button>
            </div>
            
            
            
            <script>
                function loadMachinery(page) {
                    fetch(`/api/machineries/?page=${page}&size=5`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error al cargar las maquinarias");
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data); // para depurar
        
                            if (!data.content || data.content.length === 0) {
                                document.getElementById("machinery-list").innerHTML = "<p>No hay maquinarias.</p>";
                                return;
                            }
        
                            let html = "";
                            data.content.forEach(machinery => {
                                html += `
                                    <div class="alignItems">
                                        <form action="/machinery/${machinery.id}" method="get">
                                            <button type="submit" class="minerWidth button">${machinery.name}</button>
                                        </form>
                                        {{#isAdmin}}
                                        <form action="/machinery/delete/${machinery.id}" method="post">
                                            <input type="submit" value="Borrar maquinaria" class="small buttonsRoutines">
                                            <input type="hidden" name="_csrf" value="{{token}}"/>
                                        </form>
                                        {{/isAdmin}}
                                    </div>
                                `;
                            });
        
                            document.getElementById("machinery-list").innerHTML = html;
                        })
                        .catch(error => {
                            console.error(error);
                            document.getElementById("machinery-list").innerHTML = "<p>Error al cargar maquinarias.</p>";
                        });
                }
        
                loadMachinery(0);
            </script>
        </div>
        {{#isAdmin}}
        <br>
        <form action="/machinery/add" method="get">
            <input type="submit" value="Añadir maquinaria">
        </form>
        {{/isAdmin}}
        <form action="/account" method="post">
            <input type="submit" value="Volver" class="big">
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
    {{>common/footer}}
</body>
</html>
