<!DOCTYPE html>
<html>
    <head>
        <title>No hay entrenadores</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
            {{>common/header}}
            <h1>No hay entrenadores en este momento</h1>
            {{#isAdmin}}
            <form action="/trainer/add" method="post">
                <input type="submit" value = "Añadir nuevo entrenador">
            </form>
            {{/isAdmin}}
            <form action="/" method="get">
                <input type='submit' value='Volver'/>
            </form>
            {{>common/footer}}
    </body>
</html>