<!DOCTYPE html>
<html>
    <head>
        <title>Añadir entrenador</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
            <ul>
                <form action="/trainer/add/form" method="post" enctype="multipart/form-data">
                    <div class="infoForm">
                        <p>Nombre del entrenador: </p>
                        <input type='text' name='name'/>
                        <p>Descripción: </p>
                        <input type='text' name='description'/>
                        <p>Foto del entrenador: </p>
                        <input type="file" name='image' accept=".jpg, .jpeg"/>
                    </div>  
                    <br><br>
                    <div class="sendForm">
                        <input type='submit' value='Añadir'/>
                    </div>
                </form>               
            </ul>
        {{>common/footer}}
    </body>
</html>