<!DOCTYPE html>
<html>
    <head>
        <title>Entrenadores</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
            <ul>
                {{#trainers}}
                <li>
                    <form action="/trainer/{{id}}" method="get">
                        <button type="submit" class="button">{{name}}</button>
                    </form>
                </li>
                {{/trainers}}

                {{#isAdmin}}
                <form action="/trainer/add" method="post">
                    <input type="submit" value = "Añadir nuevo entrenador">
                </form>
                {{/isAdmin}}
                
                <p>Entrenador personal: {{personalTrainer}}</p>
            </ul>
        {{>common/footer}}
    </body>
</html>