<html>
    <head>
        <title> Comentarios del trainer</title>
        <link rel="stylesheet" type="text/css" href="/style.css"> 
    </head>
    <body>
        {{>common/header}}
        <h1>Comentarios</h1>
        {{#comments}}
            <b>{{author.name}}: </b>: {{message}}<br>
        {{#isAdmin}}
            <form action="/trainer/{{trainerId}}/comments/{{id}}/delete" method="post">
                <input type="submit" value="Borrar comentario">
            </form>
        {{/isAdmin}}
        {{/comments}}

        {{^comments}}
        <p> No hay comentarios todavía.</p>
        {{/comments}}
        
        {{#logged}}
        <form action="/trainer/{{trainerId}}/comments/add" method="post">
            <input type="submit" value="Añadir comentario">
        </form>
        {{/logged}}

        <form action="/trainer/{{trainerId}}" method="post">
            <input type="submit" value="Volver">
        </form>
        
        {{>common/footer}}
    </body>
</html>