<!DOCTYPE html>
<html>
    <head>
        <title>Sesión iniciada</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
        <h1>Sesión iniciada como {{name}}</h1>
        <form action="/account/image" method="post" enctype="multipart/form-data">
            <p>Cambiar imagen de perfil:</p>
            <input type='file' name='image' accept=".jpg, .jpeg"/>
            <input type='submit' value='Aceptar'/>
        </form>
        
        {{#isAdmin}}
        <form action="/admin/users" method="post">
            <input type='submit' value='Ver usuarios'/>
        </form>
        {{/isAdmin}}
        <form action="/account/logout" method="post">
            <input type='submit' value='Sign Out'/>
        </form>

        <form action="/account/deleteAccount" method="post">
            <input type='submit' value='Borrar cuenta'/>
        </form>

        <form action="/" method="get">
            <input type='submit' value='Volver'/>
        </form>
        {{>common/footer}}
    </body>
</html>