<footer>
    <div class="footer">
        <div class="footer-section">
            <ul>
                <li><h4>Contáctanos</h4></li>
                <li><a href="mailto:info@example.com">Email: info@example.com</a></li>
                <li><a href="tel:+1234567890">Teléfono: +1234567890</a></li>
                <li><a href="/contact">Formulario de Contacto</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <ul>
                <li><h4>Redes Sociales</h4></li>
                <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <ul>
                <li><h4>Sobre nosotros</h4></li>
                <li>Somos una reconocida marca que ha entrenado a lo mejor de lo mejor</li>
                <li>De nuestras instalaciones han salido figuras icónicas como Arnold</li>
                <li>Schwarzenegger, CBum o Mike Mentzer, entre otras figuras célebres.</li>
            </ul>
        </div>
        <div class="footer-section">
            <ul>
                <li><h4>Horarios</h4></li>
                <li>Lunes a Viernes: 8:00 - 22:00</li>
                <li>Sábados: 9:00 - 20:00</li>
                <li>Domingos: 10:00 - 18:00</li>
            </ul>
        </div>
    </div>
</footer>