<div id="header">
    <div id="supHeader">
        <div> 
            <form action="/" method="get">
                <input class="imagesHeader" id="home" type="submit" value="">
                <input class="button" id="logoText"type="submit" value="Golden Gym">
            </form>
        </div>
        <div>
            <form action="/account" method="post">
                <input class="button" id="textAccount" type="submit" value={{name}}>
                {{#hasImage}}
                    <input class="imagesHeader" id="userImage" type="submit" value="">
                {{/hasImage}}

                {{^hasImage}}
                    <input class="imagesHeader" id="no_userImage" type="submit" value="">
                {{/hasImage}}
                
            </form>
            
        </div>
    </div>
    <div id="infHeader">
        <div>
            <form action="/facilities" method="post">
                <input class="buttonsHeader" type="submit" value = "Instalaciones">
            </form>
        </div>
        <div>
            <form action="/machinery" method="post">
                <input class="buttonsHeader" type="submit" value = "Maquinaria">
            </form>
        </div>
        <div>
            <form action="/routine" method="post">
                <input class="buttonsHeader" type="submit" value = "Rutinas">
            </form> 
        </div>
        <div>
            <form action="/trainer" method="post">
                <input class="buttonsHeader" type="submit" value = "Entrenadores">
            </form>
        </div>
    </div>
</div>