<header id="header">
    <div id="supHeader">
        <div> 
            <form action="/" method="post">
                <input class="imagesHeader" id="home" type="submit" value="">
                <input class="button" id="logoText"type="submit" value="GOLDEN GYM">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        <div>
            <form action="/account" method="post">
                <input class="button" id="textAccount" type="submit" value={{name}}>
                {{#hasImage}}
                    <input class="imagesHeader" id="userImage" type="submit" value="">
                {{/hasImage}}

                {{^hasImage}}
                    <input class="imagesHeader" id="no_userImage" type="submit" value="">
                {{/hasImage}}
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            
        </div>
    </div>
    <div id="infHeader">
        <div>
            <form action="/facilities" method="post">
                <input class="buttonsHeader" type="submit" value = "Instalaciones">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        <div>
            <form action="/machinery" method="post">
                <input class="buttonsHeader" type="submit" value = "Maquinaria">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        <div>
            <form action="/routine" method="post">
                <input class="buttonsHeader" type="submit" value = "Rutinas">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form> 
        </div>
        <div>
            <form action="/trainer" method="post">
                <input class="buttonsHeader" type="submit" value = "Entrenadores">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
    </div>
</header>