
/* Start of natural tags */

p, h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: 'Arial';
    font-weight: 100;
    
}

html{
    height: 100vh;
}

body {
    background-color: #ffee66;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    width: 60%;
}
ol, ul{
    padding-left: 0;
    list-style: none;
}
li{
    list-style-type:none;
}

input{
    margin: 5px; 
    padding: 10px 15px; 
    background-color: #ffffff; 
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input:hover {
    background-color: #B0B0B0; 
}

select {
    appearance: none;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

footer{
    margin-top: 20px;
}

/*End of natural tags*/
#header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#supHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #101515;
}

#supHeader > div{
    flex: 1;
    display: flex;
}

#supHeader > div form {
    flex: 1; 
    display: flex;
}


#infHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #1d1d1d;
}

#infHeader > div{
    flex: 1;
    display: flex;
}

#infHeader > div form {
    flex: 1; 
    display: flex;
}

#infHeader > div form input {
    flex: 1; 
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

#textAccount{
    background-color: transparent;
    color:#ffffff;
    font-size: 33px;
    flex: 1;
    display: flex;
    margin-left: 50%;
}

#logoText {
    background-color: transparent;
    color:#ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size:65px;
    flex: 1;
    display: flex;
    margin-right: 25%;
}
/* Classes start here */
.buttonsHeader {
    background-color: transparent;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.buttonsHeader:hover {
    background-color: #555; 
}

.imagesHeader{
    width: 100px;
    height: 100px;
    background: no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.title{
    font-size: xx-large;
}
.partial-image {
    width: 50%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
}
.inRows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.alignItems{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
/* Classes for forms*/
.sendForm{
    padding: auto;
}
.infoForm{
    padding: auto;
}


/* Classes for the footer */

.button {
    margin: 5px; 
    padding: 10px 15px; 
    background-color: #ffffff; 
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background-color: #B0B0B0; 
}

/* Classes for the header */
.buttonsHeader {
    background-color: transparent;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.buttonsHeader:hover {
    background-color: #555; 
}

.imagesHeader{
    width: 100px;
    height: 100px;
    background: no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.buttonsRoutines{
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}
.buttonsRoutines:hover {
    background-color: #555; 
}

/*css for routines*/
#backgroundRoutine{
    background-color: #555;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.routine {
    /*position: relative;*/
    background: transparent;
}

#divRoutines{
    top: 5%;
    left: 50%;
}

#divOptionsCreate{
    top: 20%;
    left: 40%;
}

#divOptionsShow{
    top: 20%;
    left: 60%;
}
#divOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home{
    background-image: url('images/Icone.png');
    border-radius: 10%;
    margin-left: 3%;
}
#userImage{
    background-image: url('user/image');
    border-radius: 100%;
}
#no_userImage{
    background-image: url('images/no_image.jpg');
    border-radius: 100%;
    margin-right: 3%;
}

.footer {
    background-color: #ffcc00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer-section {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.footer-section li{
    color: #000000;
}

.footer-section a{
    color: #a05000;
    background: transparent;
}

.bold{
    font-weight: 750;
}
.small{
    font-size: 12px;
    padding: 5px 10px;
}

.big {
    padding: 10px 35px;
    margin: 15px 5px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    min-width: 100px; /* Minimum width */
    width: auto; /* Allows expansion */
}

.padding{
    padding: 10px 10px;
}

.minWidth{
    min-width: 300px;
    font-size: 20px;
    font-weight: 100;
    
}
.minerWidth{
    min-width: 230px;
    font-size: 20px;
    font-weight: 100;
    
}
.maxWidth{
    max-width: 400px;
    font-size: 20px;
    font-weight: 100;
}
.gray{
    background-color: #B0B0B0;
}
.evenly{
    flex:1;
}
.center{
    text-align: center;
    align-items: center;
}

.spacing{
    margin: 10px;
}

#user-list p {
    display: block; 
    width: 50px; 
    height: 20px; 
    background-color: #f8f8ff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center; 
    line-height: 20px; 
}