/* Natural tags */
body {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    max-width: 100%;
    height: auto;
    width: 30%;
}
li{
    list-style-type:none;
}
/* Ids start here */
#header{
    display: flex;
    flex-direction: column;
}
#supHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #555;
}
#infHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ccc;
}
#textAccount{
    font-size: 24px;
    color: white;
}
/* Classes start here */
.title{
    font-size: xx-large;
}
.partial-image {
    width: 50%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
}
.inRows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.alignItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
/* Classes for forms*/
.sendForm{
    padding: auto;
}
.infoForm{
    padding: auto;
}
/* Classes for the footer */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.footer-section {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.button {
    margin: 5px; 
    padding: 10px 15px; 
    background-color: #757575; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background-color: #3D3D3D; 
}

/* Classes for the header */
.buttonsHeader{
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.buttonsHeader:hover {
    background-color: #555; 
}

.imagesHeader{
    width: 100px;
    height: 100px;
    background: no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

#home{
    background-image: url('images/Icone.png');
}
#userImage{
    background-image: url('user/image');
}
#no_userImage{
    background-image: url('images/no_image.jpg');
}

input {
    margin: 3px; 
    padding: 10px 15px; 
    background-color: #DADADA; 
    color: black;
    padding: 10px 20px;
    font-size: 16px; 
    border: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input:hover {
    background-color: #B0B0B0; 
}
