/* Start of natural tags */
p, h1, h2, h3, h4, h5, h6 {
    color: #fafafa;
    font-family: 'Arial';
    font-weight: 100;
}
body {
    background-color: #111111;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    width: 60%;
}
li{
    list-style-type:none;
}

/*End of natural tags*/


/* Start of Ids */
#header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#supHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #101515;
}

#supHeader > div{
    flex: 1;
    display: flex;
}

#supHeader > div form {
    flex: 1; 
    display: flex;
}


#infHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #1d1d1d;
}

#infHeader > div{
    flex: 1;
    display: flex;
}

#infHeader > div form {
    flex: 1; 
    display: flex;
}

#infHeader > div form input {
    flex: 1; 
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

#textAccount{
    background-color: transparent;
    font-size: 33px;
    flex: 1;
    display: flex;
    margin-left: 50%;
}

#logoText {
    background-color: transparent;
    font-size:65px;
    flex: 1;
    display: flex;
    margin-right: 25%;
}



/* End of Ids*/

/* Classes start here */
.title{
    font-size: xx-large;
}
.partial-image {
    width: 50%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
}
.inRows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.alignItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
/* Classes for forms*/
.sendForm{
    padding: auto;
}
.infoForm{
    padding: auto;
}
/* Classes for the footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.footer-section {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.footer-section li{
    color: rgb(216, 216, 216);
}

.footer-section a{
    color:cornflowerblue
}

.button {
    margin: 5px; 
    padding: 10px 15px; 
    background-color: #757575; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background-color: #3D3D3D; 
}

/* Classes for the header */
.buttonsHeader {
    background-color: transparent;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.buttonsHeader:hover {
    background-color: #555; 
}

.imagesHeader{
    width: 100px;
    height: 100px;
    background: no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.buttonsRoutines{
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}
.buttonsRoutines:hover {
    background-color: #555; 
}

/*css for routines*/
#backgroundRoutine{
    background-color: #555;
}
.containerRoutine {
    position: relative;
    height: 100vh;
}
.box {
    position: absolute;
    transform: translate(-50%, -50%);
}
#divRoutines{
    top: 5%;
    left: 50%;
}

#divOptionsCreate{
    top: 20%;
    left: 40%;
}

#divOptionsShow{
    top: 20%;
    left: 60%;
}
#home{
    background-image: url('images/Icone.png');
    border-radius: 10%;
    margin-left: 3%;
}
#userImage{
    background-image: url('user/image');
    border-radius: 100%;
}
#no_userImage{
    background-image: url('images/no_image.jpg');
    border-radius: 100%;
    margin-right: 3%;
}

input {
    margin: 3px; 
    padding: 10px 15px; 
    background-color: #DADADA; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    transition: background 0.3s;
}

input:hover {
    background-color: #B0B0B0; 
}
