<!DOCTYPE html>
<html>
    <head>
        <title>Crear rutinas</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body class="container">
        {{>common/header}}
            <form action = "/routine/save" method="post">
                <h1>Crear rutina</h1>
                <label for="name">Nombre de la rutina:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description"><br><br>
                <label for="difficulty">Día de la semana:</label>
                <input type="text" id="day" name="day"><br><br>
                <label for="exercise">Ejercicios:</label>
                <select id ="exercise" name = "exerciseIds" multiple>
                    {{#exercises}}
                        <option value="{{id}}">{{name}}</option>
                    {{/exercises}}
                </select><br><br>
                {{#isLogged}}
                    <input type="submit" value="Crear rutina">
                {{/isLogged}}
                {{^isLogged}}
                    <p>Debes estar logueado para crear una rutina</p>
                    
                {{/isLogged}}
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            {{^isLogged}}
            <form action="/account" method="post">
                <input type="submit" value="Login">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            {{/isLogged}}
        {{>common/footer}}
    </body>
</html>