<!DOCTYPE html>
<html>
    <head>
        <title>Ver rutina</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
        <ul>
            {{#isLogged}}
                {{#routines}}
                <li>
                    <form action="/routine/view/{{id}}" method="get">
                        <button type="submit" class="button">{{name}}</button>
                    </form>               
                    <form action = "/routine/delete/{{id}}" method ="post">
                        <input type = "submit" value = "Borrar rutina">
                    </form>
                    <form action = "/routine/modify/{{id}}" method ="post">
                        <input type = "submit" value = "Modificar rutina">
                    </form>
                </li>
                {{/routines}}
                {{^routines}}
                    <li>No hay rutinas</li>
                {{/routines}}
            {{/isLogged}}
            {{^isLogged}}
                <li>Debes iniciar sesión para ver las rutinas</li>
                <form action="/login" method="post">
                    <input type="button" value="Iniciar sesión"">
                </form>
            {{/isLogged}}
        </ul>

        {{>common/footer}}
    </body>
</html>