<!DOCTYPE html>
<html>
    <head>
        <title>Rutinas</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
        <div class = "container" >
            <div class = "routine" id = "divRoutines">
                <h1>Rutinas</h1>
            </div>
            <div id="divOptions">
                <div class = "routine" id = "divOptionsCreate">
                    <form action="/routine/create" method="post">
                        <input type="submit" value = "Crear rutina">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </div>
                <div class = "routine" id = "divOptionsShow">
                    <form action = "/routine/view" method = "post">
                        <input  type="submit" value = "Ver rutinas">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </div>
            </div>
            

            {{#isAdmin}}
            <form action = "/exercise/add" method="post">
                <input type="submit" value = "Crear ejercicio">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            <form action="/exercise/exercise_selectToDelete" method="post">
                <input type="submit" value = "Eliminar ejercicio">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            {{/isAdmin}}
        </div>

        {{>common/footer}}
    </body>
</html>