<!DOCTYPE html>
<html>
    <head>
        <title>Instalaciones</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
        <h1>Instalaciones</h1>
        <div class="inRows">
            <div class="alignItems">
                <p class="title">Instalaciones 1</p>
                <p>El mejor gimnasio que encontraras cerca de tu hogar</p>
                <img src="images/gym_1.jpeg" alt="Facility 1">
            </div>

            <div class="alignItems">
                <p class="title">Instalaciones 2</p>
                <p>De los mejores gimnasios que no estan cerca de tu casa pero extrañamente te viene bien al salir del trabajo</p>
                <img src="images/gym_2.jpeg" alt="Facility 2">
            </div>
            
            <div class="alignItems">
                <p class="title">Instalaciones 3</p>
                <p>Ni te molestes en apuntarte, este está en Zimbabue, dificil que te pille bien</p>
                <img src="images/gym_3.jpeg" alt="Facility 3">
            </div>
        </div>  
        {{>common/footer}}
    </body>
</html>