<div id="header">
    <div id="supHeader">
        <div>
            <form action="/" method="get">
                <input type="submit" value = "Inicio">
            </form>
        </div>
        <div>
            <h1>{{name}}</h1>
        </div>
        
        <div>
            <form action="account" method="post">
                <input type="submit" value = "Cuenta">
            </form>
        </div>
    </div>
    <div id="infHeader">
        <div>
            <form action="facilities" method="post">
                <input type="submit" value = "Instalaciones">
            </form>
        </div>
        <div>
            <form action="machinery" method="post">
                <input type="submit" value = "Maquinaria">
            </form>
        </div>
        <div>
            <form action="routine" method="post">
                <input type="submit" value = "Rutinas">
            </form> 
        </div>
        <div>
            <form action="trainers" method="post">
                <input type="submit" value = "Entrenadores">
            </form>
        </div>
    </div>
</div>