<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>common/header}}
        <h1 class="alignItems">¡Bienvenido a nuestro gimnasio, Golden Gym!</h1>
        <h3 class="alignItems">Somos el mejor gimnasio del mundo, del cual han salido múltiples estrellas
            del culturismo. <br>¡Ven y únete a los mejores!
        </h3>

        <div>
            <img src ="images/HD-wallpaper-gym-weights-dumbbells-iron-workout.jpg" alt="Gym image" class = "partial-image">
        </div>
        {{>common/footer}}

    </body>
</html>