<!DOCTYPE html>
<html>
    <head>
        <title>Cuenta-Registro</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        {{>header}}
            <form action="/account/register" method="post">
                <p>Nombre: </p>
                <input type='text' name='name'/>
                <p>Contraseña:</p>
                <input type='text' name='password'/>
                <input type='submit' value='Registrar'/>
            </form>
        {{>footer}}
    </body>
</html>