<!DOCTYPE html>
<html>
    <head>
        <title>Rutinas</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>header}}
        <div>
            
            <h1>Rutinas</h1>
            <form action="/routine/create" method="post">
                <input type="submit" value = "Crear rutina">
            </form>
            <form action = "/routine/view" method = "post">
                <input type="submit" value = "Ver rutinas">
            </form>
        </div>

        {{>footer}}
    </body>
</html>