<!DOCTYPE html>
<html>
    <head>
        <title>Crear rutinas</title>
        <link rel="stylesheet" type="text/css" href="gymapp/src/main/resources/static/style.css">
    </head>
    <body>
        {{>header}}
            <form actione = "routine/save" method="post">
                <h1>Crear rutina</h1>
                <label for="name">Nombre de la rutina:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description"><br><br>
                <label for="difficulty">Día de la semana:</label>
                <input type="text" id="day" name="day"><br><br>
                <label for="exercise">Ejercicios:</label>
                <select id ="exercise" name = "exercise" multiple>
                    {{#exercises}}
                        <option value="{{id}}">{{name}}</option>
                    {{/exercises}}
                </select><br><br>
                <input type="submit" value="Crear rutina">
            </form>

        {{>footer}}
    </body>
</html>