<!DOCTYPE html>
<html>
    <head>
        <title>Ver rutina</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>header}}
        <ul>
            {{#routines}}
            <li><a href ="/routine/view/{{id}}"> {{name}}</a>
                <form action = "/routine/delete/{{id}}" method ="post">
                    <input type = "submit" name = "Borrar rutina">
                </form>
                <form action = "/routine/modify/{{id}}" method ="post">
                    <input type = "submit" name = "Modificar rutina">
                </form>
            </li>
            {{/routines}}
        </ul>

        {{>footer}}
    </body>
</html>