<!DOCTYPE html>
<html>
    <head>
        <title>Modificar Rutinas</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        {{>header}}
        {{#routine}}
            <form action = "/routine/modified" method="post">
                <h1>Modificar rutina</h1>

                <input type="hidden" id="id" name="id" value="{{id}}">

                <label for="name">Nombre de la rutina:</label>
                <input type="text" id="name" name="name" value ="{{name}}"><br><br>
                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description" value="{{description}}"><br><br>
                <label for="day">Día de la semana:</label>
                <input type="text" id="day" name="day" value = "{{day}}"><br><br>
                <label for="exercise">Ejercicios:</label>
                <select id ="exercise" name = "exerciseIds" multiple>
                    {{#allExercises}}
                        <option value="{{id}}"> {{name}} </option>
                    {{/allExercises}}
                </select><br><br>
                <input type="submit" value="Modificar rutina">
            </form>
        {{/routine}}
        {{>footer}}
    </body>
</html>